<!DOCTYPE html>
<html>
    <head>
        <style>
         @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        
        .container {
          padding:5px 30px 30px 30px;
          margin:30px;
          border:solid rgba(255, 255, 255, 0) 5px;
          border-radius:5px;
          text-align:center;
          font-family: 'Monsterrat', sans-serif;
        }
        body {
            background-color: powderblue;
        }
        </style>
        <title>Credits</title>
    </head>
    <body>
        <div class="container">
            <h1>Dabloon Clicker - Credits</h1>
            <p>
                NickTheHuy - Creator of the project
            </p>
            <p>
                memetrollsXD - Contributor to the project
            </p>
            <p>
                mangorifo - Also a contributor to the project
            </p>
        </div>
    </body>
</html>